Distancia.json
[{"id":"a87d2bb5.a8c658","type":"tab","label":"Distância","disabled":false,"info":""},{"id":"90b013e5.a1116","type":"ibmiot in","z":"a87d2bb5.a8c658","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev01","applicationId":"","deviceType":"ESP8266","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":90,"y":120,"wires":[["1359edaa.261932","5775242a.18f19c","cbab387a.49a118","f5bf6661.a3f6f8"]]},{"id":"5775242a.18f19c","type":"change","z":"a87d2bb5.a8c658","name":"Distância","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.distance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":170,"wires":[["1f3c0340.c8287d","3e322c84.35f1b4"]]},{"id":"1359edaa.261932","type":"debug","z":"a87d2bb5.a8c658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":80,"wires":[]},{"id":"1f3c0340.c8287d","type":"ui_gauge","z":"a87d2bb5.a8c658","name":"","group":"a0d92c40.f5ece","order":4,"width":0,"height":0,"gtype":"gage","title":"Distância atual","label":"cm","format":"{{value}}","min":0,"max":"200","colors":["#ca3838","#e6e600","#00b500"],"seg1":"10","seg2":"50","x":465,"y":170,"wires":[]},{"id":"dd2a6b9e.58c118","type":"ui_toast","z":"a87d2bb5.a8c658","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":660,"y":125,"wires":[]},{"id":"cbab387a.49a118","type":"switch","z":"a87d2bb5.a8c658","name":"Warn on Low Values","property":"payload.d.distance","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":295,"y":125,"wires":[["e108c9ef.321a28"]]},{"id":"e108c9ef.321a28","type":"template","z":"a87d2bb5.a8c658","name":"Alerta","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alerta: Objeto muito próximo","output":"str","x":485,"y":125,"wires":[["dd2a6b9e.58c118"]]},{"id":"3e322c84.35f1b4","type":"ui_chart","z":"a87d2bb5.a8c658","name":"","group":"56d4420e.18195c","order":1,"width":0,"height":0,"label":"Distância (Vsom = 343,6 m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Aguardando informação de distância","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":515,"y":215,"wires":[[]]},{"id":"f5bf6661.a3f6f8","type":"change","z":"a87d2bb5.a8c658","name":"Distância","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.d_th","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":260,"wires":[["53711ddf.f09d84","c7031eb9.6cba"]]},{"id":"53711ddf.f09d84","type":"ui_gauge","z":"a87d2bb5.a8c658","name":"","group":"209b4b41.6cd7cc","order":5,"width":0,"height":0,"gtype":"gage","title":"Distância atual (método 2)","label":"cm","format":"{{value}}","min":0,"max":"200","colors":["#ca3838","#e6e600","#00b500"],"seg1":"10","seg2":"50","x":500,"y":260,"wires":[]},{"id":"c7031eb9.6cba","type":"ui_chart","z":"a87d2bb5.a8c658","name":"","group":"f056e8b2.ff00f8","order":1,"width":0,"height":0,"label":"Distância (Vsom calculada usando T/H)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Aguardando informação de distância","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":310,"wires":[[]]},{"id":"a0d92c40.f5ece","type":"ui_group","z":"","name":"Cálculo da Velocidade do Som","tab":"279ed3e2.dbb51c","order":1,"disp":true,"width":"6","collapse":false},{"id":"56d4420e.18195c","type":"ui_group","z":"","name":"Distância","tab":"e62c2fd0.d029a","disp":false,"width":"10","collapse":false},{"id":"209b4b41.6cd7cc","type":"ui_group","z":"","name":"Velocidade do Som (Método 2)","tab":"279ed3e2.dbb51c","order":3,"disp":true,"width":"6","collapse":false},{"id":"f056e8b2.ff00f8","type":"ui_group","z":"","name":"Group 2","tab":"e62c2fd0.d029a","order":2,"disp":false,"width":"10","collapse":false},{"id":"279ed3e2.dbb51c","type":"ui_tab","z":"","name":"Velocidade do Som","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e62c2fd0.d029a","type":"ui_tab","z":"","name":"Distância","icon":"fa-area-chart","order":2,"disabled":false,"hidden":false}]
