Velocidade_do_som.json
[{"id":"83a452ce.805c28","type":"tab","label":"Velocidade do som","disabled":false,"info":""},{"id":"94a81273.6f5df","type":"ibmiot out","z":"83a452ce.805c28","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"dev01","deviceType":"ESP8266","eventCommandType":"distance","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":120,"wires":[]},{"id":"9fddae7d.a10c8","type":"ui_form","z":"83a452ce.805c28","name":"Dashboard Form","label":"","group":"a0d92c40.f5ece","order":2,"width":"6","height":"5","options":[{"label":"Distância (cm)","value":"distpreset","type":"number","required":true}],"formValue":{"distpreset":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":80,"wires":[["10207cbf.4f8bc3"]]},{"id":"10207cbf.4f8bc3","type":"switch","z":"83a452ce.805c28","name":"distpreset >= 0","property":"payload.distpreset","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":80,"wires":[["309009f9.07e686"]]},{"id":"309009f9.07e686","type":"change","z":"83a452ce.805c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Distance\":msg.payload.distpreset}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[["bf2c6005.890b78","94a81273.6f5df"]]},{"id":"bf2c6005.890b78","type":"debug","z":"83a452ce.805c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":40,"wires":[]},{"id":"4a34c832.244288","type":"ibmiot in","z":"83a452ce.805c28","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev01","applicationId":"","deviceType":"ESP8266","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":110,"y":220,"wires":[["8d03cfe4.88f2f8","b21124ea.c37b2","ace5f54d.a6c41","298cda7e.410206","540083e.ebcec7c"]]},{"id":"3e70df2f.3d467","type":"change","z":"83a452ce.805c28","name":"Velocidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Vsom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":230,"wires":[["570b04a2.162f2c"]]},{"id":"8d03cfe4.88f2f8","type":"debug","z":"83a452ce.805c28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":180,"wires":[]},{"id":"b21124ea.c37b2","type":"switch","z":"83a452ce.805c28","name":"Vsom_inf","property":"payload.d.Vsom","propertyType":"msg","rules":[{"t":"gt","v":"230","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":230,"wires":[["6388c3a0.f8370c"]]},{"id":"6388c3a0.f8370c","type":"switch","z":"83a452ce.805c28","name":"Vsom_sup","property":"payload.d.Vsom","propertyType":"msg","rules":[{"t":"lt","v":"430","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":230,"wires":[["3e70df2f.3d467"]]},{"id":"e4c32095.31f71","type":"ui_text","z":"83a452ce.805c28","group":"a0d92c40.f5ece","order":1,"width":"6","height":"2","name":"Instruções","label":"Insira uma distância em centímetros para calcular a velocidade do som.","format":"Coloque distância = 0 para parar a execução.","layout":"col-center","x":110,"y":40,"wires":[]},{"id":"c7484dbe.be6d8","type":"link in","z":"83a452ce.805c28","name":"","links":["570b04a2.162f2c"],"x":95,"y":455,"wires":[["f0c1f0c2.bb655","3b7fde86.9078d2"]]},{"id":"570b04a2.162f2c","type":"link out","z":"83a452ce.805c28","name":"","links":["c7484dbe.be6d8"],"x":755,"y":230,"wires":[]},{"id":"f0c1f0c2.bb655","type":"ui_chart","z":"83a452ce.805c28","name":"","group":"df8c2ed9.6c82a","order":1,"width":0,"height":0,"label":"Velocidade do som","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Aguardando definição de distância","dot":false,"ymin":"0","ymax":"430","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":250,"y":435,"wires":[[]]},{"id":"3b7fde86.9078d2","type":"ui_text","z":"83a452ce.805c28","group":"a0d92c40.f5ece","order":3,"width":0,"height":0,"name":"","label":"Velocidade medida (m/s):","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":480,"wires":[]},{"id":"ace5f54d.a6c41","type":"change","z":"83a452ce.805c28","name":"Velocidade do som (T,H)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.vs","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[["29160d91.b87ea2"]]},{"id":"562e5abb.76268c","type":"ui_text","z":"83a452ce.805c28","group":"209b4b41.6cd7cc","order":4,"width":0,"height":0,"name":"","label":"Velocidade medida (m/s):","format":"{{msg.payload}}","layout":"row-spread","x":615,"y":480,"wires":[]},{"id":"298cda7e.410206","type":"change","z":"83a452ce.805c28","name":"Temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":330,"wires":[["1dc42f0d.4fb809"]]},{"id":"540083e.ebcec7c","type":"change","z":"83a452ce.805c28","name":"Umidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["28e9fa33.f246b6"]]},{"id":"1dc42f0d.4fb809","type":"ui_text","z":"83a452ce.805c28","group":"209b4b41.6cd7cc","order":2,"width":0,"height":0,"name":"","label":"Temperatura (ºC): ","format":"{{msg.payload}}","layout":"row-spread","x":485,"y":330,"wires":[]},{"id":"28e9fa33.f246b6","type":"ui_text","z":"83a452ce.805c28","group":"209b4b41.6cd7cc","order":3,"width":0,"height":0,"name":"","label":"Umidade do ar (%):","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":380,"wires":[]},{"id":"90afb00.32a3c5","type":"ui_text","z":"83a452ce.805c28","group":"209b4b41.6cd7cc","order":1,"width":0,"height":0,"name":"Descrição","label":"Este método utiliza a temperatura e a umidade do ar do ambiente para encontrar a velocidade do som.","format":"","layout":"row-spread","x":115,"y":275,"wires":[]},{"id":"895d5c76.f0ac1","type":"ui_chart","z":"83a452ce.805c28","name":"","group":"df8c2ed9.6c82a","order":2,"width":0,"height":0,"label":"Velocidade do som (Método 2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"430","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":635,"y":435,"wires":[[]]},{"id":"29160d91.b87ea2","type":"link out","z":"83a452ce.805c28","name":"","links":["d73bea59.575188"],"x":480,"y":280,"wires":[]},{"id":"d73bea59.575188","type":"link in","z":"83a452ce.805c28","name":"","links":["29160d91.b87ea2"],"x":455,"y":455,"wires":[["895d5c76.f0ac1","562e5abb.76268c"]]},{"id":"a0d92c40.f5ece","type":"ui_group","z":"","name":"Cálculo da Velocidade do Som","tab":"279ed3e2.dbb51c","order":1,"disp":true,"width":"6","collapse":false},{"id":"df8c2ed9.6c82a","type":"ui_group","z":"","name":"Gráficos de Vsom","tab":"279ed3e2.dbb51c","order":2,"disp":false,"width":"10","collapse":false},{"id":"209b4b41.6cd7cc","type":"ui_group","z":"","name":"Velocidade do Som (Método 2)","tab":"279ed3e2.dbb51c","order":3,"disp":true,"width":"6","collapse":false},{"id":"279ed3e2.dbb51c","type":"ui_tab","z":"","name":"Velocidade do Som","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
